main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.veci-font {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  margin: 0;
  padding: 0;
}

.main-content > .drugi-naslov {
  font-size: clamp(0.75rem, 1.1vw, 1.35rem);
}

.sidebar-element,
aside,
.ztk,
.main-content,
.moon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-element {
  width: 90%;
}

aside {
  gap: 3vh;
}

.contact {
  justify-content: space-evenly;
  flex-direction: row;
}

.kontakt-slika {
  width: clamp(24px, 5vh, 50px);
  height: clamp(24px, 5vh, 50px);
}

.mjesec-mijene {
  height: clamp(100px, 30vh, 200px);
  width: auto;
}

.naslovna-slika {
  width: clamp(200px, 50vw, 800px);
  height: auto;
}

.ztk-picture {
  width: clamp(100px, 20vw, 300px);
  height: auto;
}

.important-link {
  color: #7f7f7f;
  font-family: arial, helvetica, sans-serif;
  font-size: 10px;
}
