.austro-ugarska-slika {
  height: 140px;
  width: 222px;
}

.zgrada-slika {
  height: 164px;
  margin: 5px 10px;
  width: 220px;
}

.teget-slika {
  float: left;
  height: 144px;
  margin: 10px 15px;
  width: 192px;
}

.tablica {
  margin: auto;
  border: 0;
  width: 100%;
}

.sirina-celije {
  width: 230px;
}

.siva-pozadina {
  background-color: rgb(204, 204, 204);
}

.crna-boja {
  color: #000000;
}

.zvita-slika {
  height: 144px;
  width: 192px;
}

.sirina-celije-1 {
  width: 150px;
}

.grab-kraljevine-italije-slika {
  height: 137px;
  width: 110px;
}

.za-vrijeme-rata-slika {
  height: 144px;
  width: 192px;
}

.nazi-slika {
  width: 200px;
}

.srh-slika {
  height: 140px;
  width: 110px;
}

.nova-slika {
  height: 128px;
  width: 192px;
}

.grb-rh-slika {
  height: 130px;
  width: 103px;
}
